@import "reset";
@import "header";
@import "map";
@import "settings";
@import "loading";
@import "dropdown";
@import "info";
@import "tables";
@import "bootstrap";

.page-wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  max-width: 1250px;
}
